body {
    background-color: lightgray;
}

header, nav, section {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header, nav, h1, h2, h3 {
    text-align: center;/* 
    margin-left: auto;
    margin-right: auto; */
}

article {
    display: inline-block;
}

nav>ul>li {
    list-style: none;
    display: inline-block;
}

.articleImg {
    float: left;
    width: 15%;
    height: auto;
}