body {
    background-color: #ebebeb;
    color: #7d7d7d;
    font-family: 'Open Sans', sans-serif;
}

header, nav, section {
    background-color: white;
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header, nav, h1, h2, h3 {
    text-align: center;
}

p {
    /* Counter previous text-align */
    text-align: left;
}

header>p {
    margin: 15px;
}

article {
    display: inline-block;
}

nav {
    padding-top: 40px;
    padding-bottom: 40px;
}

nav>ul>li {
    list-style: none;
    display: inline-block;    
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: bolder;
    color: #cccccc;
    margin-left: 20px;
    margin-right: 20px;
}

i {
    color: #cccccc; 
    font-size: x-large;
}

img {
    width: 15%;
    height: auto;
}

h1 {
    color: #dd5555;
    font-size: x-large;
    font-weight: bold;
}

.headerImg {
    background-color: #cccccc;
}

.articleImg {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}